.contact__container {
    display: grid;
    place-items: center;
}
.contact__wrapper {
    display: flex;
    gap: 3rem;
    width: fit-content;
}
.contact__wrapper a {
    color: var(--secondary-color);
    font-size: 2rem;
    transition: var(--transition);
}
.contact__wrapper a:hover {
    color: var(--gray-color-600);
}


/*==========Media Query==========*/
@media (max-width: 600px) {
    .contact__wrapper {
        gap: 2rem;
    }
    .contact__wrapper a {
        font-size: 1.5rem;
    }
}